# Folders

.git/
.cache/

# IDE Projects

.vs/
*.xcworkspace
*.xcodeproj/
*.sln
*.vcxproj*
.kdev4/
*.kdev4

# Binaries

lib/
bin/
obj/
*.out
*.o
*.mod
*.exe
*.gch
*.dll
*.a
*.so
*.lib
*.dylib

# Files

*.DS_Store
*.log
*.swp
*.vim

compile_commands.json

