# Folders

.git/

# Projects

*.xcworkspace
*.xcodeproj/
.kdev4/
.vs/

# Binaries

lib/
bin/
obj/

# Files

*.DS_Store
*.gch
*.log
*.exe

# Build Generators

*.mk
*.make
premake5
Makefile

# Projects

*.kdev4
*.sln
*.vcxproj*
